/* 1d1a21*/
body, nav, .navbar-default{background: #1d1a21 !important;}
.navbar-default{border-color: #1d1a21 !important;padding-top:10px;}
.container{margin-top:0px;padding-top:0px;background: #1d1a21;} 
#big_title{text-align:center;font-size:4em;font-weight:bold;color:gray;}
#big_subtitle{text-align:center;font-size:1em;font-weight:normal;color:gray;}
.left_panel_breakdown_option{padding-bottom:10px;color:gray;}
.rounded_circle{background:red;border-radius: 50%;float:left;height:1em;width:1em;margin-right:5px;margin-top:3px;}
#green_rounded_circle{background:green;}
#yellow_rounded_circle{background:yellow;}
#red_rounded_circle{background:#cc0000;}
#night_rounded_circle{background: gray;}
#display_cities{background: #2c2a30;height:500px;}
#display_scroller{height:100px;margin-bottom:1px solid #727174;}
#showcase_link{border-radius: 20%;background:#3dd16b;color:black;padding-top:0px;}
#showcase_link>a{color:black;font-weight:bold;}
#contactus_link>a{color:#3dd16b;font-weight:bold;}
#footer{background:white;margin-left:auto;margin-right:auto;width:80%;margin-top:20px;color:black;padding-top:20px;padding-bottom:20px;}
.social_icon{width:30px;height:30px;float:left;margin-left:10px;}
.choose_theme_item{float:left;padding:10px;color:gray;background: #2c2a30;}
.choose_theme_item:hover{cursor:pointer;}
.choose_theme_item_active{background:black;color:gray;}
#color_theme_label{margin-bottom:5px;font-weight:bold;color:gray;}
#display_24_hour_clock{color:gray;}
#checkbox_24_hours{margin-top:5px;background:#2c2a30;}
.view_city_section{border-bottom: 1px solid gray;height:3em;color: white;padding-top:40px;padding-bottom:40px;min-height:100px;}
.view_city_section:hover{}
.view_city_name_section{font-size: 1.3em;height:2em !important;}
#load_cities{overflow-y: auto;}
.view_city_current_hour{font-size:1.5em;font-weight:bold;text-align:center;}
.view_city_time_mode{text-align:center;}
.clear{clear:both;}
.rounded_circle_right{background:red;border-radius: 50%;float:right;height:1em;width:1em;margin-right:5px;margin-top:3px;}
